version: "3.9"

services:
    hammerbyte_saas:
        container_name: hammerbyte_saas
        build: .
        restart: always
        expose:
            - "3000"
        environment:
            NODE_ENV: production
            PORT: 3000
        networks:
            - global-network

networks:
    global-network:
        external: true
